@font-face {
  font-family: "Orchidea pro";
  src: url("../font/Mint\ Type\ -\ Orchidea\ Pro\ Medium.otf");
}

@font-face {
  font-family: "Circle";
  src: url("../font/Mint\ Type\ -\ Orchidea\ Pro\ Medium.otf");
}