// COLORS
$color-primary: #333333;
$color-blue:#4E76C6;
$color-border:#ECEAE7;
$color-gray:#72716e;
$color-1e1e: #1e1e1e;
// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-stack: "Arial", sans-serif;
