.mollen__big-wrapper {

  background-image: url("/img/monnel-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 1031px;
}