.mollen__dataimg {
  margin-top: 110px;
  &-list {
    overflow-x: hidden;
    margin-right: 0px;
  }
  &-item {
    // cursor: pointer;
    position: relative;
  }
  &-img {
    object-fit: cover;
  }
  &-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-1e1e;
  }
  &-visibl {
    display: none;
  }
  &-spn {
    position: absolute;
    top: 26px;
    left: 45px;
    padding: 6px 13px;
    background: $color-blue;
    border-radius: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: $color-blue;
      background-color: #fff;
      border-color: $color-blue;
    }
  }
  &-spnn {
    position: absolute;
    bottom: 122px;
    left: 30px;
    padding: 6px 13px;
    background: $color-blue;
    border-radius: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: $color-blue;
      background-color: #fff;
      border-color: $color-blue;
    }
  }
  &-spns {
    position: absolute;
    bottom: 262px;
    right: 30px;
    padding: 20px 15px;
    background: $color-blue;
    border-radius: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      color: $color-blue;
      background-color: #fff;
      border-color: $color-blue;
    }
  }
}

@media screen and(max-width:991px) {
    .mollen__dataimg {
      &-spns {
        right: 170px;
        bottom: 122px;
      }
    }
}


@media screen and(max-width:864px) {
  .mollen__dataimg {
    &-spns {
      right: 90px;
      bottom: 122px;
    }
  }
}

@media screen and(max-width:780px) {
  .mollen__dataimg {
    &-spns {
      right: 60px;
      bottom: 122px;
    }
  }
}


@media screen and(max-width:768px) {
  .mollen__dataimg {
    &-spns {
      right: 50px;
      bottom: 122px;
    }
  }
}